/* Provide sufficient contrast against white background */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outline {
    border: 1px solid black;
    box-shadow: 4px 3px 10px 4px #230c57;
    padding: 5px;
}